{
    "openapi": "3.0.4",
    "info": {
        "title": "Microsoft Outlook Calendar API",
        "description": "Microsoft Outlook Calendar API. Subset of the Microsoft Graph v1.0 OpenAPI specification covering calendars, calendar groups, calendar permissions, events, attachments, calendar views, scheduling and meeting-time suggestions for the signed-in user and for users by ID.",
        "version": "v1.0",
        "x-ms-generated-by": {
            "toolName": "Microsoft.OpenApi.OData",
            "toolVersion": "0.0.0.0"
        }
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0"
        }
    ],
    "security": [
        {
            "oAuth2": [
                "Calendars.ReadWrite"
            ]
        }
    ],
    "tags": [
        {
            "name": "me.calendar",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "me.calendarGroup",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "me.event",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "me.user.Actions",
            "x-ms-docs-toc-type": "container"
        },
        {
            "name": "users.calendar",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "users.calendarGroup",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "users.event",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "users.user.Actions",
            "x-ms-docs-toc-type": "container"
        }
    ],
    "paths": {
        "/me/calendar": {
            "description": "Provides operations to manage the calendar property of the microsoft.graph.user entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Get the signed-in user's default calendar",
                "description": "Get the properties and relationships of a calendar object. The calendar can be one for a user,\r\nor the default calendar of a Microsoft 365 group. There are two scenarios where an app can get another user's calendar:",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/calendar-get?view=graph-rest-1.0"
                },
                "operationId": "getDefaultCalendar",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved me calendar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Calendar"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Update the signed-in user's default calendar",
                "description": "Update the properties of a calendar object. The calendar can be one for a user,\r\nor the default calendar of a Microsoft 365 group.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/calendar-update?view=graph-rest-1.0"
                },
                "operationId": "updateDefaultCalendar",
                "requestBody": {
                    "description": "The me calendar properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Calendar"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated default calendar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Calendar"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            }
        },
        "/me/calendar/calendarPermissions": {
            "description": "Provides operations to manage the calendarPermissions property of the microsoft.graph.calendar entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "List the sharing permissions of the signed-in user's default calendar",
                "description": "The permissions of the users with whom the calendar is shared.",
                "operationId": "listDefaultCalendarPermissions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.calendarPermissionCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Create a sharing permission on the signed-in user's default calendar",
                "description": "Create a calendarPermission resource to specify the identity and role of the user with whom the specified calendar is being shared or delegated.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/calendar-post-calendarpermissions?view=graph-rest-1.0"
                },
                "operationId": "createDefaultCalendarPermission",
                "requestBody": {
                    "description": "The me calendar calendar permissions to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalendarPermission"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created me calendar calendar permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalendarPermission"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions",
                "/me/calendars/{calendar-id}/calendarPermissions"
            ]
        },
        "/me/calendar/calendarPermissions/{calendarPermissionId}": {
            "description": "Provides operations to manage the calendarPermissions property of the microsoft.graph.calendar entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Get a sharing permission of the signed-in user's default calendar",
                "description": "The permissions of the users with whom the calendar is shared.",
                "operationId": "getDefaultCalendarPermission",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved me calendar calendar permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalendarPermission"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Delete a sharing permission of the signed-in user's default calendar",
                "operationId": "deleteDefaultCalendarPermission",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag of the resource; the request succeeds only if it matches the current version",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Update a sharing permission of the signed-in user's default calendar",
                "operationId": "updateDefaultCalendarPermission",
                "requestBody": {
                    "description": "The me calendar calendar permissions properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalendarPermission"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated default calendar permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalendarPermission"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "calendarPermissionId",
                    "in": "path",
                    "description": "The unique identifier of calendarPermission",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "calendarPermission"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions/{calendarPermission-id}",
                "/me/calendars/{calendar-id}/calendarPermissions/{calendarPermission-id}"
            ]
        },
        "/me/calendar/calendarPermissions/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Count the sharing permissions of the signed-in user's default calendar",
                "operationId": "countDefaultCalendarPermissions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/me/calendar/calendarView": {
            "description": "Provides operations to manage the calendarView property of the microsoft.graph.calendar entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "List the event occurrences of the signed-in user's default calendar in a time range",
                "description": "Get the occurrences, exceptions and single instances of events in a calendar view defined by a time range,\r\nfrom a user's default calendar (../me/calendarView) or some other calendar of the user's.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/calendar-list-calendarview?view=graph-rest-1.0"
                },
                "operationId": "listDefaultCalendarView",
                "parameters": [
                    {
                        "name": "startDateTime",
                        "in": "query",
                        "description": "The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDateTime",
                        "in": "query",
                        "description": "The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.eventCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView",
                "/me/calendars/{calendar-id}/calendarView"
            ]
        },
        "/me/calendar/calendarView/delta()": {
            "description": "Provides operations to call the delta method.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Track changes to the event occurrences of the signed-in user's default calendar in a time range",
                "description": "Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch all the events of that calendar from the server every time.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0"
                },
                "operationId": "listDefaultCalendarViewDelta",
                "parameters": [
                    {
                        "name": "startDateTime",
                        "in": "query",
                        "description": "The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDateTime",
                        "in": "query",
                        "description": "The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved default calendar view delta",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventDeltaCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "function",
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                }
            },
            "x-ms-docs-grouped-path": [
                "/me/adhocCalls/{adhocCall-id}/recordings/delta()",
                "/me/adhocCalls/{adhocCall-id}/transcripts/delta()",
                "/me/calendar/events/{event-id}/instances/delta()",
                "/me/calendar/events/delta()",
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/delta()",
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/delta()",
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/delta()",
                "/me/calendars/{calendar-id}/calendarView/delta()",
                "/me/calendars/{calendar-id}/events/{event-id}/instances/delta()",
                "/me/calendars/{calendar-id}/events/delta()",
                "/me/calendarView/delta()",
                "/me/chats/{chat-id}/messages/{chatMessage-id}/replies/delta()",
                "/me/chats/{chat-id}/messages/delta()",
                "/me/chats/{chat-id}/targetedMessages/{targetedChatMessage-id}/replies/delta()",
                "/me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/delta()",
                "/me/contactFolders/{contactFolder-id}/childFolders/delta()",
                "/me/contactFolders/{contactFolder-id}/contacts/delta()",
                "/me/contactFolders/delta()",
                "/me/contacts/delta()",
                "/me/events/{event-id}/instances/delta()",
                "/me/events/delta()",
                "/me/joinedTeams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/delta()",
                "/me/joinedTeams/{team-id}/channels/{channel-id}/messages/delta()",
                "/me/joinedTeams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/delta()",
                "/me/joinedTeams/{team-id}/primaryChannel/messages/delta()",
                "/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/delta()",
                "/me/mailFolders/{mailFolder-id}/childFolders/delta()",
                "/me/mailFolders/{mailFolder-id}/messages/delta()",
                "/me/mailFolders/delta()",
                "/me/messages/delta()",
                "/me/notes/delta()",
                "/me/onlineMeetings/{onlineMeeting-id}/recordings/delta()",
                "/me/onlineMeetings/{onlineMeeting-id}/transcripts/delta()",
                "/me/todo/lists/{todoTaskList-id}/tasks/delta()",
                "/me/todo/lists/delta()"
            ]
        },
        "/me/calendar/events": {
            "description": "Provides operations to manage the events property of the microsoft.graph.calendar entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "List the events in the signed-in user's default calendar",
                "description": "Retrieve a list of events in a calendar. The calendar can be one for a user, or the default calendar of a Microsoft 365 group. The list of events contains single instance meetings and series masters. To get expanded event instances, you can get the calendar view, or\r\nget the instances of an event.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/calendar-list-events?view=graph-rest-1.0"
                },
                "operationId": "listDefaultEvents",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.eventCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Create an event in the signed-in user's default calendar",
                "operationId": "createDefaultEvent",
                "requestBody": {
                    "description": "The me calendar events to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Event"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created me calendar events",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Event"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events",
                "/me/calendars/{calendar-id}/events"
            ]
        },
        "/me/calendar/events/{eventId}": {
            "description": "Provides operations to manage the events property of the microsoft.graph.calendar entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Get an event in the signed-in user's default calendar",
                "description": "The events in the calendar. Navigation property. Read-only.",
                "operationId": "getDefaultEvent",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved me calendar events",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Event"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Delete an event in the signed-in user's default calendar",
                "operationId": "deleteDefaultEvent",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag of the resource; the request succeeds only if it matches the current version",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Update an event in the signed-in user's default calendar",
                "operationId": "updateDefaultEvent",
                "requestBody": {
                    "description": "The me calendar events properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Event"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated default event",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Event"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}",
                "/me/calendars/{calendar-id}/events/{event-id}"
            ]
        },
        "/me/calendar/events/{eventId}/attachments": {
            "description": "Provides operations to manage the attachments property of the microsoft.graph.event entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "List the attachments of an event in the signed-in user's default calendar",
                "description": "The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.",
                "operationId": "listDefaultEventAttachments",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.attachmentCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Add an attachment to an event in the signed-in user's default calendar",
                "operationId": "createDefaultEventAttachment",
                "requestBody": {
                    "description": "The me calendar events attachments to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created me calendar events attachments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Attachment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/attachments",
                "/me/calendars/{calendar-id}/events/{event-id}/attachments",
                "/me/events/{event-id}/attachments"
            ]
        },
        "/me/calendar/events/{eventId}/attachments/{attachmentId}": {
            "description": "Provides operations to manage the attachments property of the microsoft.graph.event entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Get an attachment of an event in the signed-in user's default calendar",
                "description": "The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.",
                "operationId": "getDefaultEventAttachment",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved me calendar events attachments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Attachment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Delete an attachment of an event in the signed-in user's default calendar",
                "operationId": "deleteDefaultEventAttachment",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag of the resource; the request succeeds only if it matches the current version",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                },
                {
                    "name": "attachmentId",
                    "in": "path",
                    "description": "The unique identifier of attachment",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "attachment"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/attachments/{attachment-id}",
                "/me/calendars/{calendar-id}/events/{event-id}/attachments/{attachment-id}",
                "/me/events/{event-id}/attachments/{attachment-id}"
            ]
        },
        "/me/calendar/events/{eventId}/attachments/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Count the attachments of an event in the signed-in user's default calendar",
                "operationId": "countDefaultEventAttachments",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ]
        },
        "/me/calendar/events/{eventId}/attachments/createUploadSession": {
            "description": "Provides operations to call the createUploadSession method.",
            "post": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Create an upload session for a large attachment to an event in the signed-in user's default calendar",
                "description": "Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that's smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0"
                },
                "operationId": "createDefaultEventUploadSession",
                "requestBody": {
                    "description": "Details of the file to upload as an attachment",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUploadSessionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created default event upload session",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSession"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/attachments/createUploadSession",
                "/me/calendars/{calendar-id}/events/{event-id}/attachments/createUploadSession",
                "/me/events/{event-id}/attachments/createUploadSession",
                "/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/createUploadSession",
                "/me/mailFolders/{mailFolder-id}/messages/{message-id}/attachments/createUploadSession",
                "/me/messages/{message-id}/attachments/createUploadSession",
                "/me/notes/{note-id}/attachments/createUploadSession",
                "/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/createUploadSession"
            ]
        },
        "/me/calendar/events/{eventId}/calendar": {
            "description": "Provides operations to manage the calendar property of the microsoft.graph.event entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Get the calendar that contains an event in the signed-in user's default calendar",
                "description": "The calendar that contains the event. Navigation property. Read-only.",
                "operationId": "getDefaultEventCalendar",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved me calendar events calendar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Calendar"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/calendar",
                "/me/calendars/{calendar-id}/events/{event-id}/calendar",
                "/me/events/{event-id}/calendar"
            ]
        },
        "/me/calendar/events/{eventId}/extensions": {
            "description": "Provides operations to manage the extensions property of the microsoft.graph.event entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "List the open extensions of an event in the signed-in user's default calendar",
                "description": "The collection of open extensions defined for the event. Nullable.",
                "operationId": "listDefaultEventExtensions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.extensionCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Create an open extension on an event in the signed-in user's default calendar",
                "operationId": "createDefaultEventExtension",
                "requestBody": {
                    "description": "The me calendar events extensions to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Extension"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created me calendar events extensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Extension"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/extensions",
                "/me/calendars/{calendar-id}/events/{event-id}/extensions",
                "/me/events/{event-id}/extensions"
            ]
        },
        "/me/calendar/events/{eventId}/extensions/{extensionId}": {
            "description": "Provides operations to manage the extensions property of the microsoft.graph.event entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Get an open extension of an event in the signed-in user's default calendar",
                "description": "The collection of open extensions defined for the event. Nullable.",
                "operationId": "getDefaultEventExtension",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved me calendar events extensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Extension"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Delete an open extension of an event in the signed-in user's default calendar",
                "operationId": "deleteDefaultEventExtension",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag of the resource; the request succeeds only if it matches the current version",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Update an open extension of an event in the signed-in user's default calendar",
                "operationId": "updateDefaultEventExtension",
                "requestBody": {
                    "description": "The me calendar events extensions properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Extension"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated default event extension",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Extension"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                },
                {
                    "name": "extensionId",
                    "in": "path",
                    "description": "The unique identifier of extension",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "extension"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/extensions/{extension-id}",
                "/me/calendars/{calendar-id}/events/{event-id}/extensions/{extension-id}",
                "/me/events/{event-id}/extensions/{extension-id}"
            ]
        },
        "/me/calendar/events/{eventId}/extensions/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Count the open extensions of an event in the signed-in user's default calendar",
                "operationId": "countDefaultEventExtensions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ]
        },
        "/me/calendar/events/{eventId}/instances": {
            "description": "Provides operations to manage the instances property of the microsoft.graph.event entity.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "List the occurrences of a recurring event in the signed-in user's default calendar",
                "description": "The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions modified, but doesn't include occurrences canceled from the series. Navigation property. Read-only. Nullable.",
                "operationId": "listDefaultEventInstances",
                "parameters": [
                    {
                        "name": "startDateTime",
                        "in": "query",
                        "description": "The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDateTime",
                        "in": "query",
                        "description": "The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.eventCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances",
                "/me/calendars/{calendar-id}/events/{event-id}/instances",
                "/me/events/{event-id}/instances"
            ]
        },
        "/me/calendar/events/{eventId}/instances/delta()": {
            "description": "Provides operations to call the delta method.",
            "get": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Track changes to the occurrences of a recurring event in the signed-in user's default calendar",
                "description": "Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch all the events of that calendar from the server every time.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0"
                },
                "operationId": "listDefaultEventInstancesDelta",
                "parameters": [
                    {
                        "name": "startDateTime",
                        "in": "query",
                        "description": "The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDateTime",
                        "in": "query",
                        "description": "The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved default event instances delta",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventDeltaCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "function",
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                }
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/adhocCalls/{adhocCall-id}/recordings/delta()",
                "/me/adhocCalls/{adhocCall-id}/transcripts/delta()",
                "/me/calendar/calendarView/delta()",
                "/me/calendar/events/delta()",
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/delta()",
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/delta()",
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/delta()",
                "/me/calendars/{calendar-id}/calendarView/delta()",
                "/me/calendars/{calendar-id}/events/{event-id}/instances/delta()",
                "/me/calendars/{calendar-id}/events/delta()",
                "/me/calendarView/delta()",
                "/me/chats/{chat-id}/messages/{chatMessage-id}/replies/delta()",
                "/me/chats/{chat-id}/messages/delta()",
                "/me/chats/{chat-id}/targetedMessages/{targetedChatMessage-id}/replies/delta()",
                "/me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/delta()",
                "/me/contactFolders/{contactFolder-id}/childFolders/delta()",
                "/me/contactFolders/{contactFolder-id}/contacts/delta()",
                "/me/contactFolders/delta()",
                "/me/contacts/delta()",
                "/me/events/{event-id}/instances/delta()",
                "/me/events/delta()",
                "/me/joinedTeams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/delta()",
                "/me/joinedTeams/{team-id}/channels/{channel-id}/messages/delta()",
                "/me/joinedTeams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/delta()",
                "/me/joinedTeams/{team-id}/primaryChannel/messages/delta()",
                "/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/delta()",
                "/me/mailFolders/{mailFolder-id}/childFolders/delta()",
                "/me/mailFolders/{mailFolder-id}/messages/delta()",
                "/me/mailFolders/delta()",
                "/me/messages/delta()",
                "/me/notes/delta()",
                "/me/onlineMeetings/{onlineMeeting-id}/recordings/delta()",
                "/me/onlineMeetings/{onlineMeeting-id}/transcripts/delta()",
                "/me/todo/lists/{todoTaskList-id}/tasks/delta()",
                "/me/todo/lists/delta()"
            ]
        },
        "/me/calendar/events/{eventId}/accept": {
            "description": "Provides operations to call the accept method.",
            "post": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Accept an event in the signed-in user's default calendar",
                "description": "Accept the specified event in a user calendar.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/event-accept?view=graph-rest-1.0"
                },
                "operationId": "acceptDefaultEvent",
                "requestBody": {
                    "description": "Optional comment and whether to send a response to the organizer",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AcceptEventRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "event"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/accept",
                "/me/calendars/{calendar-id}/events/{event-id}/accept",
                "/me/events/{event-id}/accept"
            ]
        },
        "/me/calendar/events/{eventId}/cancel": {
            "description": "Provides operations to call the cancel method.",
            "post": {
                "tags": [
                    "me.calendar"
                ],
                "summary": "Cancel a meeting in the signed-in user's default calendar",
                "description": "This action allows the organizer of a meeting to send a cancellation message and cancel the event.  The action moves the event to the Deleted Items folder. The organizer can also cancel an occurrence of a recurring meeting \r\nby providing the occurrence event ID. An attendee calling this action gets an error (HTTP 400 Bad Request), with the following\r\nerror message: 'Your request can't be completed. You need to be an organizer to cancel a meeting.' This action differs from Delete in that Cancel is available to only the organizer, and lets\r\nthe organizer send a custom message to the attendees about the cancellation.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/event-cancel?view=graph-rest-1.0"
                },
                "operationId": "cancelDefaultEvent",
                "requestBody": {
                    "description": "Optional cancellation message sent to the attendees",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CancelEventRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "eventId",
                    "in": "path",
                    "description": "The unique identifier of event",
                    "required": true,
[...]
