openapi: 3.0.4
info:
  title: Microsoft Outlook Calendar API
  description: Microsoft Outlook Calendar API. Subset of the Microsoft Graph v1.0 OpenAPI specification covering calendars,
    calendar groups, calendar permissions, events, attachments, calendar views, scheduling and meeting-time suggestions for
    the signed-in user and for users by ID.
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 0.0.0.0
servers:
- url: https://graph.microsoft.com/v1.0
security:
- oAuth2:
  - Calendars.ReadWrite
tags:
- name: me.calendar
  x-ms-docs-toc-type: page
- name: me.calendarGroup
  x-ms-docs-toc-type: page
- name: me.event
  x-ms-docs-toc-type: page
- name: me.user.Actions
  x-ms-docs-toc-type: container
- name: users.calendar
  x-ms-docs-toc-type: page
- name: users.calendarGroup
  x-ms-docs-toc-type: page
- name: users.event
  x-ms-docs-toc-type: page
- name: users.user.Actions
  x-ms-docs-toc-type: container
paths:
  /me/calendar:
    description: Provides operations to manage the calendar property of the microsoft.graph.user entity.
    get:
      tags:
      - me.calendar
      summary: Get calendar
      description: "Get the properties and relationships of a calendar object. The calendar can be one for a user,\r\nor the
        default calendar of a Microsoft 365 group. There are two scenarios where an app can get another user's calendar:"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-get?view=graph-rest-1.0
      operationId: me.GetCalendar
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.calendar
      summary: Update calendar
      description: "Update the properties of a calendar object. The calendar can be one for a user,\r\nor the default calendar
        of a Microsoft 365 group."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-update?view=graph-rest-1.0
      operationId: me.UpdateCalendar
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/calendar/calendarPermissions:
    description: Provides operations to manage the calendarPermissions property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendar
      summary: Get calendarPermissions from me
      description: The permissions of the users with whom the calendar is shared.
      operationId: me.calendar.ListCalendarPermissions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarPermissionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.calendar
      summary: Create calendarPermission
      description: Create a calendarPermission resource to specify the identity and role of the user with whom the specified
        calendar is being shared or delegated.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-post-calendarpermissions?view=graph-rest-1.0
      operationId: me.calendar.CreateCalendarPermissions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions
    - /me/calendars/{calendar-id}/calendarPermissions
  /me/calendar/calendarPermissions/{calendarPermission-id}:
    description: Provides operations to manage the calendarPermissions property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendar
      summary: Get calendarPermissions from me
      description: The permissions of the users with whom the calendar is shared.
      operationId: me.calendar.GetCalendarPermissions
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.calendar
      summary: Update the navigation property calendarPermissions in me
      operationId: me.calendar.UpdateCalendarPermissions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.calendar
      summary: Delete navigation property calendarPermissions for me
      operationId: me.calendar.DeleteCalendarPermissions
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: calendarPermission-id
      in: path
      description: The unique identifier of calendarPermission
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarPermission
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions/{calendarPermission-id}
    - /me/calendars/{calendar-id}/calendarPermissions/{calendarPermission-id}
  /me/calendar/calendarPermissions/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.calendar
      summary: Get the number of the resource
      operationId: me.calendar.calendarPermissions.GetCount-7010
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /me/calendar/calendarView:
    description: Provides operations to manage the calendarView property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendar
      summary: List calendarView
      description: "Get the occurrences, exceptions and single instances of events in a calendar view defined by a time range,\r\nfrom
        a user's default calendar (../me/calendarView) or some other calendar of the user's."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-list-calendarview?view=graph-rest-1.0
      operationId: me.calendar.ListCalendarView
      parameters:
      - name: startDateTime
        in: query
        description: The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00
        required: true
        schema:
          type: string
      - name: endDateTime
        in: query
        description: The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView
    - /me/calendars/{calendar-id}/calendarView
  /me/calendar/calendarView/delta():
    description: Provides operations to call the delta method.
    get:
      tags:
      - me.calendar
      summary: Invoke function delta
      description: Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events
        defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView
        in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and
        every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This
        allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch
        all the events of that calendar from the server every time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0
      operationId: me.calendar.calendarView.delta
      parameters:
      - name: startDateTime
        in: query
        description: The start date and time of the time range in the function, represented in ISO 8601 format. For example,
          2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - name: endDateTime
        in: query
        description: The end date and time of the time range in the function, represented in ISO 8601 format. For example,
          2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    x-ms-docs-grouped-path:
    - /me/adhocCalls/{adhocCall-id}/recordings/delta()
    - /me/adhocCalls/{adhocCall-id}/transcripts/delta()
    - /me/calendar/events/{event-id}/instances/delta()
    - /me/calendar/events/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/delta()
    - /me/calendars/{calendar-id}/calendarView/delta()
    - /me/calendars/{calendar-id}/events/{event-id}/instances/delta()
    - /me/calendars/{calendar-id}/events/delta()
    - /me/calendarView/delta()
    - /me/chats/{chat-id}/messages/{chatMessage-id}/replies/delta()
    - /me/chats/{chat-id}/messages/delta()
    - /me/chats/{chat-id}/targetedMessages/{targetedChatMessage-id}/replies/delta()
    - /me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/delta()
    - /me/contactFolders/{contactFolder-id}/childFolders/delta()
    - /me/contactFolders/{contactFolder-id}/contacts/delta()
    - /me/contactFolders/delta()
    - /me/contacts/delta()
    - /me/events/{event-id}/instances/delta()
    - /me/events/delta()
    - /me/joinedTeams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/delta()
    - /me/joinedTeams/{team-id}/channels/{channel-id}/messages/delta()
    - /me/joinedTeams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/delta()
    - /me/joinedTeams/{team-id}/primaryChannel/messages/delta()
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/delta()
    - /me/mailFolders/{mailFolder-id}/childFolders/delta()
    - /me/mailFolders/{mailFolder-id}/messages/delta()
    - /me/mailFolders/delta()
    - /me/messages/delta()
    - /me/notes/delta()
    - /me/onlineMeetings/{onlineMeeting-id}/recordings/delta()
    - /me/onlineMeetings/{onlineMeeting-id}/transcripts/delta()
    - /me/todo/lists/{todoTaskList-id}/tasks/delta()
    - /me/todo/lists/delta()
  /me/calendar/events:
    description: Provides operations to manage the events property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendar
      summary: List events
      description: "Retrieve a list of events in a calendar. The calendar can be one for a user, or the default calendar of
        a Microsoft 365 group. The list of events contains single instance meetings and series masters. To get expanded event
        instances, you can get the calendar view, or\r\nget the instances of an event."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-list-events?view=graph-rest-1.0
      operationId: me.calendar.ListEvents
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.calendar
      summary: Create new navigation property to events for me
      operationId: me.calendar.CreateEvents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events
    - /me/calendars/{calendar-id}/events
  /me/calendar/events/{event-id}:
    description: Provides operations to manage the events property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendar
      summary: Get events from me
      description: The events in the calendar. Navigation property. Read-only.
      operationId: me.calendar.GetEvents
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.calendar
      summary: Update the navigation property events in me
      operationId: me.calendar.UpdateEvents
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.calendar
      summary: Delete navigation property events for me
      operationId: me.calendar.DeleteEvents
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}
    - /me/calendars/{calendar-id}/events/{event-id}
  /me/calendar/events/{event-id}/attachments:
    description: Provides operations to manage the attachments property of the microsoft.graph.event entity.
    get:
      tags:
      - me.calendar
      summary: Get attachments from me
      description: The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation
        property. Read-only. Nullable.
      operationId: me.calendar.events.ListAttachments
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.calendar
      summary: Create new navigation property to attachments for me
      operationId: me.calendar.events.CreateAttachments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/attachments
    - /me/calendars/{calendar-id}/events/{event-id}/attachments
    - /me/events/{event-id}/attachments
  /me/calendar/events/{event-id}/attachments/{attachment-id}:
    description: Provides operations to manage the attachments property of the microsoft.graph.event entity.
    get:
      tags:
      - me.calendar
      summary: Get attachments from me
      description: The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation
        property. Read-only. Nullable.
      operationId: me.calendar.events.GetAttachments
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.calendar
      summary: Delete navigation property attachments for me
      operationId: me.calendar.events.DeleteAttachments
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    - name: attachment-id
      in: path
      description: The unique identifier of attachment
      required: true
      schema:
        type: string
      x-ms-docs-key-type: attachment
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/attachments/{attachment-id}
    - /me/calendars/{calendar-id}/events/{event-id}/attachments/{attachment-id}
    - /me/events/{event-id}/attachments/{attachment-id}
  /me/calendar/events/{event-id}/attachments/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.calendar
      summary: Get the number of the resource
      operationId: me.calendar.events.attachments.GetCount-53a3
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
  /me/calendar/events/{event-id}/attachments/createUploadSession:
    description: Provides operations to call the createUploadSession method.
    post:
      tags:
      - me.calendar
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the
        file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the
        file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments
        navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response,
        this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each
        PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case
        the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using
        an upload session: See attach large files to Outlook messages or events for an example.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: me.calendar.events.event.attachments.createUploadSession
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.uploadSession'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/attachments/createUploadSession
    - /me/calendars/{calendar-id}/events/{event-id}/attachments/createUploadSession
    - /me/events/{event-id}/attachments/createUploadSession
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/createUploadSession
    - /me/mailFolders/{mailFolder-id}/messages/{message-id}/attachments/createUploadSession
    - /me/messages/{message-id}/attachments/createUploadSession
    - /me/notes/{note-id}/attachments/createUploadSession
    - /me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/createUploadSession
  /me/calendar/events/{event-id}/calendar:
    description: Provides operations to manage the calendar property of the microsoft.graph.event entity.
    get:
      tags:
      - me.calendar
      summary: Get calendar from me
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: me.calendar.events.GetCalendar
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/calendar
    - /me/calendars/{calendar-id}/events/{event-id}/calendar
    - /me/events/{event-id}/calendar
  /me/calendar/events/{event-id}/extensions:
    description: Provides operations to manage the extensions property of the microsoft.graph.event entity.
    get:
      tags:
      - me.calendar
      summary: Get extensions from me
      description: The collection of open extensions defined for the event. Nullable.
      operationId: me.calendar.events.ListExtensions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.calendar
      summary: Create new navigation property to extensions for me
      operationId: me.calendar.events.CreateExtensions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/extensions
    - /me/calendars/{calendar-id}/events/{event-id}/extensions
    - /me/events/{event-id}/extensions
  /me/calendar/events/{event-id}/extensions/{extension-id}:
    description: Provides operations to manage the extensions property of the microsoft.graph.event entity.
    get:
      tags:
      - me.calendar
      summary: Get extensions from me
      description: The collection of open extensions defined for the event. Nullable.
      operationId: me.calendar.events.GetExtensions
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.calendar
      summary: Update the navigation property extensions in me
      operationId: me.calendar.events.UpdateExtensions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.calendar
      summary: Delete navigation property extensions for me
      operationId: me.calendar.events.DeleteExtensions
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    - name: extension-id
      in: path
      description: The unique identifier of extension
      required: true
      schema:
        type: string
      x-ms-docs-key-type: extension
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/extensions/{extension-id}
    - /me/calendars/{calendar-id}/events/{event-id}/extensions/{extension-id}
    - /me/events/{event-id}/extensions/{extension-id}
  /me/calendar/events/{event-id}/extensions/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.calendar
      summary: Get the number of the resource
      operationId: me.calendar.events.extensions.GetCount-785d
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
  /me/calendar/events/{event-id}/instances:
    description: Provides operations to manage the instances property of the microsoft.graph.event entity.
    get:
      tags:
      - me.calendar
      summary: Get instances from me
      description: The occurrences of a recurring series, if the event is a series master. This property includes occurrences
        that are part of the recurrence pattern, and exceptions modified, but doesn't include occurrences canceled from the
        series. Navigation property. Read-only. Nullable.
      operationId: me.calendar.events.ListInstances
      parameters:
      - name: startDateTime
        in: query
        description: The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00
        required: true
        schema:
          type: string
      - name: endDateTime
        in: query
        description: The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances
    - /me/calendars/{calendar-id}/events/{event-id}/instances
    - /me/events/{event-id}/instances
  /me/calendar/events/{event-id}/instances/delta():
    description: Provides operations to call the delta method.
    get:
      tags:
      - me.calendar
      summary: Invoke function delta
      description: Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events
        defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView
        in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and
        every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This
        allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch
        all the events of that calendar from the server every time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0
      operationId: me.calendar.events.event.instances.delta
      parameters:
      - name: startDateTime
        in: query
        description: The start date and time of the time range in the function, represented in ISO 8601 format. For example,
          2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - name: endDateTime
        in: query
        description: The end date and time of the time range in the function, represented in ISO 8601 format. For example,
          2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/adhocCalls/{adhocCall-id}/recordings/delta()
    - /me/adhocCalls/{adhocCall-id}/transcripts/delta()
    - /me/calendar/calendarView/delta()
    - /me/calendar/events/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/delta()
    - /me/calendars/{calendar-id}/calendarView/delta()
    - /me/calendars/{calendar-id}/events/{event-id}/instances/delta()
    - /me/calendars/{calendar-id}/events/delta()
    - /me/calendarView/delta()
    - /me/chats/{chat-id}/messages/{chatMessage-id}/replies/delta()
    - /me/chats/{chat-id}/messages/delta()
    - /me/chats/{chat-id}/targetedMessages/{targetedChatMessage-id}/replies/delta()
    - /me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/delta()
    - /me/contactFolders/{contactFolder-id}/childFolders/delta()
    - /me/contactFolders/{contactFolder-id}/contacts/delta()
    - /me/contactFolders/delta()
    - /me/contacts/delta()
    - /me/events/{event-id}/instances/delta()
    - /me/events/delta()
    - /me/joinedTeams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/delta()
    - /me/joinedTeams/{team-id}/channels/{channel-id}/messages/delta()
    - /me/joinedTeams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/delta()
    - /me/joinedTeams/{team-id}/primaryChannel/messages/delta()
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/delta()
    - /me/mailFolders/{mailFolder-id}/childFolders/delta()
    - /me/mailFolders/{mailFolder-id}/messages/delta()
    - /me/mailFolders/delta()
    - /me/messages/delta()
    - /me/notes/delta()
    - /me/onlineMeetings/{onlineMeeting-id}/recordings/delta()
    - /me/onlineMeetings/{onlineMeeting-id}/transcripts/delta()
    - /me/todo/lists/{todoTaskList-id}/tasks/delta()
    - /me/todo/lists/delta()
  /me/calendar/events/{event-id}/accept:
    description: Provides operations to call the accept method.
    post:
      tags:
      - me.calendar
      summary: Invoke action accept
      description: Accept the specified event in a user calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-accept?view=graph-rest-1.0
      operationId: me.calendar.events.event.accept
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/accept
    - /me/calendars/{calendar-id}/events/{event-id}/accept
    - /me/events/{event-id}/accept
  /me/calendar/events/{event-id}/cancel:
    description: Provides operations to call the cancel method.
    post:
      tags:
      - me.calendar
      summary: Invoke action cancel
      description: "This action allows the organizer of a meeting to send a cancellation message and cancel the event.  The
        action moves the event to the Deleted Items folder. The organizer can also cancel an occurrence of a recurring meeting
        \r\nby providing the occurrence event ID. An attendee calling this action gets an error (HTTP 400 Bad Request), with
        the following\r\nerror message: 'Your request can't be completed. You need to be an organizer to cancel a meeting.'
        This action differs from Delete in that Cancel is available to only the organizer, and lets\r\nthe organizer send
        a custom message to the attendees about the cancellation."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-cancel?view=graph-rest-1.0
      operationId: me.calendar.events.event.cancel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/cancel
    - /me/calendars/{calendar-id}/events/{event-id}/cancel
    - /me/events/{event-id}/cancel
  /me/calendar/events/{event-id}/decline:
    description: Provides operations to call the decline method.
    post:
      tags:
      - me.calendar
      summary: Invoke action decline
      description: Decline invitation to the specified event in a user calendar. If the event allows proposals for new times,
        on declining the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter.
        For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new
        meeting times.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-decline?view=graph-rest-1.0
      operationId: me.calendar.events.event.decline
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.timeSlot'
                  - type: object
                    nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/decline
    - /me/calendars/{calendar-id}/events/{event-id}/decline
    - /me/events/{event-id}/decline
  /me/calendar/events/{event-id}/dismissReminder:
    description: Provides operations to call the dismissReminder method.
    post:
      tags:
      - me.calendar
      summary: Invoke action dismissReminder
      description: Dismiss a reminder that has been triggered for an event in a user calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-dismissreminder?view=graph-rest-1.0
      operationId: me.calendar.events.event.dismissReminder
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/dismissReminder
    - /me/calendars/{calendar-id}/events/{event-id}/dismissReminder
    - /me/events/{event-id}/dismissReminder
  /me/calendar/events/{event-id}/forward:
    description: Provides operations to call the forward method.
    post:
      tags:
      - me.calendar
      summary: Invoke action forward
      description: "This action allows the organizer or attendee of a meeting event to forward the\r\nmeeting request to a
        new recipient. If the meeting event is forwarded from an attendee's Microsoft 365 mailbox to another recipient, this
        action\r\nalso sends a message to notify the organizer of the forwarding, and adds the recipient to the organizer's\r\ncopy
        of the meeting event. This convenience is not available when forwarding from an Outlook.com account."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-forward?view=graph-rest-1.0
      operationId: me.calendar.events.event.forward
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/forward
    - /me/calendars/{calendar-id}/events/{event-id}/forward
    - /me/events/{event-id}/forward
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/forward
    - /me/mailFolders/{mailFolder-id}/messages/{message-id}/forward
    - /me/messages/{message-id}/forward
  /me/calendar/events/{event-id}/permanentDelete:
    description: Provides operations to call the permanentDelete method.
    post:
      tags:
      - me.calendar
      summary: Invoke action permanentDelete
      operationId: me.calendar.events.event.permanentDelete
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendar/permanentDelete
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/permanentDelete
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/permanentDelete
    - /me/calendars/{calendar-id}/events/{event-id}/permanentDelete
    - /me/calendars/{calendar-id}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/contacts/{contact-id}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/permanentDelete
    - /me/contacts/{contact-id}/permanentDelete
    - /me/events/{event-id}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/messages/{message-id}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/permanentDelete
    - /me/messages/{message-id}/permanentDelete
  /me/calendar/events/{event-id}/snoozeReminder:
    description: Provides operations to call the snoozeReminder method.
    post:
      tags:
      - me.calendar
      summary: Invoke action snoozeReminder
      description: Postpone a reminder for an event in a user calendar until a new time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-snoozereminder?view=graph-rest-1.0
      operationId: me.calendar.events.event.snoozeReminder
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/snoozeReminder
    - /me/calendars/{calendar-id}/events/{event-id}/snoozeReminder
    - /me/events/{event-id}/snoozeReminder
  /me/calendar/events/{event-id}/tentativelyAccept:
    description: Provides operations to call the tentativelyAccept method.
    post:
      tags:
      - me.calendar
      summary: Invoke action tentativelyAccept
      description: Tentatively accept the specified event in a user calendar. If the event allows proposals for new times,
        on responding tentative to the event, an invitee can choose to suggest an alternative time by including the proposedNewTime
        parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose
        new meeting times.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-tentativelyaccept?view=graph-rest-1.0
      operationId: me.calendar.events.event.tentativelyAccept
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.timeSlot'
                  - type: object
                    nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: event-id
      in: path
      description: The unique identifier of event
      required: true
      schema:
        type: string
      x-ms-docs-key-type: event
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/tentativelyAccept
    - /me/calendars/{calendar-id}/events/{event-id}/tentativelyAccept
    - /me/events/{event-id}/tentativelyAccept
  /me/calendar/events/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.calendar
      summary: Get the number of the resource
      operationId: me.calendar.events.GetCount-0c79
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /me/calendar/events/delta():
    description: Provides operations to call the delta method.
    get:
      tags:
      - me.calendar
      summary: Invoke function delta
      description: Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events
        defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView
        in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and
        every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This
        allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch
        all the events of that calendar from the server every time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0
      operationId: me.calendar.events.delta
      parameters:
      - name: startDateTime
        in: query
        description: The start date and time of the time range in the function, represented in ISO 8601 format. For example,
          2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - name: endDateTime
        in: query
        description: The end date and time of the time range in the function, represented in ISO 8601 format. For example,
          2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    x-ms-docs-grouped-path:
    - /me/adhocCalls/{adhocCall-id}/recordings/delta()
    - /me/adhocCalls/{adhocCall-id}/transcripts/delta()
    - /me/calendar/calendarView/delta()
    - /me/calendar/events/{event-id}/instances/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/delta()
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/delta()
    - /me/calendars/{calendar-id}/calendarView/delta()
    - /me/calendars/{calendar-id}/events/{event-id}/instances/delta()
    - /me/calendars/{calendar-id}/events/delta()
    - /me/calendarView/delta()
    - /me/chats/{chat-id}/messages/{chatMessage-id}/replies/delta()
    - /me/chats/{chat-id}/messages/delta()
    - /me/chats/{chat-id}/targetedMessages/{targetedChatMessage-id}/replies/delta()
    - /me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/delta()
    - /me/contactFolders/{contactFolder-id}/childFolders/delta()
    - /me/contactFolders/{contactFolder-id}/contacts/delta()
    - /me/contactFolders/delta()
    - /me/contacts/delta()
    - /me/events/{event-id}/instances/delta()
    - /me/events/delta()
    - /me/joinedTeams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/delta()
    - /me/joinedTeams/{team-id}/channels/{channel-id}/messages/delta()
    - /me/joinedTeams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/delta()
    - /me/joinedTeams/{team-id}/primaryChannel/messages/delta()
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/delta()
    - /me/mailFolders/{mailFolder-id}/childFolders/delta()
    - /me/mailFolders/{mailFolder-id}/messages/delta()
    - /me/mailFolders/delta()
    - /me/messages/delta()
    - /me/notes/delta()
    - /me/onlineMeetings/{onlineMeeting-id}/recordings/delta()
    - /me/onlineMeetings/{onlineMeeting-id}/transcripts/delta()
    - /me/todo/lists/{todoTaskList-id}/tasks/delta()
    - /me/todo/lists/delta()
  /me/calendar/allowedCalendarSharingRoles(User='{User}'):
    description: Provides operations to call the allowedCalendarSharingRoles method.
    get:
      tags:
      - me.calendar
      summary: Invoke function allowedCalendarSharingRoles
      operationId: me.calendar.allowedCalendarSharingRoles
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    parameters:
    - name: User
      in: path
      description: 'Usage: User=''{User}'''
      required: true
      schema:
        type: string
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/allowedCalendarSharingRoles(User='{User}')
    - /me/calendars/{calendar-id}/allowedCalendarSharingRoles(User='{User}')
  /me/calendar/getSchedule:
    description: Provides operations to call the getSchedule method.
    post:
      tags:
      - me.calendar
      summary: Invoke action getSchedule
      description: Get the free/busy availability information for a collection of users, distributions lists, or resources
        (rooms or equipment) for a specified time period.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-getschedule?view=graph-rest-1.0
      operationId: me.calendar.getSchedule
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Schedules:
                  type: array
                  items:
                    type: string
                    nullable: true
                EndTime:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                  - type: object
                    nullable: true
                StartTime:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                  - type: object
                    nullable: true
                AvailabilityViewInterval:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.scheduleInformation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    x-ms-docs-grouped-path:
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/getSchedule
    - /me/calendars/{calendar-id}/getSchedule
  /me/calendar/permanentDelete:
    description: Provides operations to call the permanentDelete method.
    post:
      tags:
      - me.calendar
      summary: Invoke action permanentDelete
      operationId: me.calendar.permanentDelete
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    x-ms-docs-grouped-path:
    - /me/calendar/events/{event-id}/permanentDelete
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/permanentDelete
    - /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/permanentDelete
    - /me/calendars/{calendar-id}/events/{event-id}/permanentDelete
    - /me/calendars/{calendar-id}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/contacts/{contact-id}/permanentDelete
    - /me/contactFolders/{contactFolder-id}/permanentDelete
    - /me/contacts/{contact-id}/permanentDelete
    - /me/events/{event-id}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/messages/{message-id}/permanentDelete
    - /me/mailFolders/{mailFolder-id}/permanentDelete
    - /me/messages/{message-id}/permanentDelete
  /me/calendarGroups:
    description: Provides operations to manage the calendarGroups property of the microsoft.graph.user entity.
    get:
      tags:
      - me.calendarGroup
      summary: List calendarGroups
      description: Get the user's calendar groups.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-list-calendargroups?view=graph-rest-1.0
      operationId: me.ListCalendarGroups
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarGroupCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.calendarGroup
      summary: Create CalendarGroup
      description: Use this API to create a new CalendarGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-post-calendargroups?view=graph-rest-1.0
      operationId: me.CreateCalendarGroups
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/calendarGroups/{calendarGroup-id}:
    description: Provides operations to manage the calendarGroups property of the microsoft.graph.user entity.
    get:
      tags:
      - me.calendarGroup
      summary: Get calendarGroup
      description: Retrieve the properties and relationships of a calendar group object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendargroup-get?view=graph-rest-1.0
      operationId: me.GetCalendarGroups
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.calendarGroup
      summary: Update calendargroup
      description: Update the properties of calendargroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendargroup-update?view=graph-rest-1.0
      operationId: me.UpdateCalendarGroups
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.calendarGroup
      summary: Delete calendarGroup
      description: Delete a calendar group other than the default calendar group.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendargroup-delete?view=graph-rest-1.0
      operationId: me.DeleteCalendarGroups
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: calendarGroup-id
      in: path
      description: The unique identifier of calendarGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarGroup
  /me/calendarGroups/{calendarGroup-id}/calendars:
    description: Provides operations to manage the calendars property of the microsoft.graph.calendarGroup entity.
    get:
      tags:
      - me.calendarGroup
      summary: List calendars
      description: Retrieve a list of calendars belonging to a calendar group.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendargroup-list-calendars?view=graph-rest-1.0
      operationId: me.calendarGroups.ListCalendars
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.calendarGroup
      summary: Create Calendar
      description: Use this API to create a new calendar in a calendar group for a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendargroup-post-calendars?view=graph-rest-1.0
      operationId: me.calendarGroups.CreateCalendars
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: calendarGroup-id
      in: path
      description: The unique identifier of calendarGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarGroup
  /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}:
    description: Provides operations to manage the calendars property of the microsoft.graph.calendarGroup entity.
    get:
      tags:
      - me.calendarGroup
      summary: Get calendars from me
      description: The calendars in the calendar group. Navigation property. Read-only. Nullable.
      operationId: me.calendarGroups.GetCalendars
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.calendarGroup
      summary: Update the navigation property calendars in me
      operationId: me.calendarGroups.UpdateCalendars
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.calendarGroup
      summary: Delete navigation property calendars for me
      operationId: me.calendarGroups.DeleteCalendars
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: calendarGroup-id
      in: path
      description: The unique identifier of calendarGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarGroup
    - name: calendar-id
      in: path
      description: The unique identifier of calendar
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendar
  /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions:
    description: Provides operations to manage the calendarPermissions property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendarGroup
      summary: Get calendarPermissions from me
      description: The permissions of the users with whom the calendar is shared.
      operationId: me.calendarGroups.calendars.ListCalendarPermissions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarPermissionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.calendarGroup
      summary: Create new navigation property to calendarPermissions for me
      operationId: me.calendarGroups.calendars.CreateCalendarPermissions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: calendarGroup-id
      in: path
      description: The unique identifier of calendarGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarGroup
    - name: calendar-id
      in: path
      description: The unique identifier of calendar
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendar
    x-ms-docs-grouped-path:
    - /me/calendar/calendarPermissions
    - /me/calendars/{calendar-id}/calendarPermissions
  /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions/{calendarPermission-id}:
    description: Provides operations to manage the calendarPermissions property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendarGroup
      summary: Get calendarPermissions from me
      description: The permissions of the users with whom the calendar is shared.
      operationId: me.calendarGroups.calendars.GetCalendarPermissions
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.calendarGroup
      summary: Update the navigation property calendarPermissions in me
      operationId: me.calendarGroups.calendars.UpdateCalendarPermissions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.calendarGroup
      summary: Delete navigation property calendarPermissions for me
      operationId: me.calendarGroups.calendars.DeleteCalendarPermissions
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: calendarGroup-id
      in: path
      description: The unique identifier of calendarGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarGroup
    - name: calendar-id
      in: path
      description: The unique identifier of calendar
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendar
    - name: calendarPermission-id
      in: path
      description: The unique identifier of calendarPermission
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarPermission
    x-ms-docs-grouped-path:
    - /me/calendar/calendarPermissions/{calendarPermission-id}
    - /me/calendars/{calendar-id}/calendarPermissions/{calendarPermission-id}
  /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.calendarGroup
      summary: Get the number of the resource
      operationId: me.calendarGroups.calendars.calendarPermissions.GetCount-3d5b
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: calendarGroup-id
      in: path
      description: The unique identifier of calendarGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarGroup
    - name: calendar-id
      in: path
      description: The unique identifier of calendar
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendar
  /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView:
    description: Provides operations to manage the calendarView property of the microsoft.graph.calendar entity.
    get:
      tags:
      - me.calendarGroup
      summary: Get calendarView from me
      description: The calendar view for the calendar. Navigation property. Read-only.
      operationId: me.calendarGroups.calendars.ListCalendarView
      parameters:
      - name: startDateTime
        in: query
        description: The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00
        required: true
        schema:
          type: string
      - name: endDateTime
        in: query
        description: The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
    - name: calendarGroup-id
      in: path
      description: The unique identifier of calendarGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendarGroup
    - name: calendar-id
      in: path
      description: The unique identifier of calendar
      required: true
      schema:
        type: string
      x-ms-docs-key-type: calendar
    x-ms-docs-grouped-path:
    - /me/calendar/calendarView
    - /me/calendars/{calendar-id}/calendarView
  /me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/delta():
    description: Provides operations to call the delta method.
    get:
      tags:
      - me.calendarGroup
      summary: Invoke function delta
      description: Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events
        defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView
        in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and
        every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This
        allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch
        all the events of that calendar from the server every time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0
[...]
